<!DOCTYPE HTML>
<html>

<head>
{%- include head.html -%}

</head>


<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">


    {% include header.html %}

    <!-- Nav -->
    <nav id="nav">

        {% include nav.html %}
        {% include icons.html %}


    </nav>

    <!-- Main -->
    <div id="main">
        <!-- Featured Post
        <article class="post featured">
            <header class="major">
                <h2><a href="#">Welcome</a></h2>
                <p>Research and Curiosities</p>
            </header>
            <a href="#" class="image main"><img src="assets/images/welcome.jpg" alt=""></a>


        </article>-->

        {{ content }}



    </div>
    <!-- Footer -->
    {% include footer.html %}

</div>

{% include scripts-main.html %}
{% include tracking.html %}


</body>
</html>
