<!DOCTYPE HTML>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


{%- include head.html -%}
<body >

<!-- Wrapper -->
<div id="wrapper">

    <!-- Hero Section
<header class="hero">

        <h2 class="hero_header">HERO <span class="light">LIGHT</span></h2>
        <p class="tagline">Light is a simple one page website</p>
  </header>-->
    {% include header.html %}
    <!-- Header
    <header id="header">
        <a href="/" class="logo">{{site.title}}</a>
    </header>
    -->
    <!-- Nav -->
    <nav id="nav">

        {% include nav.html %}
        {% include icons.html %}


    </nav>

    <!-- Main -->
    <div id="main">
        <!-- Featured Post
        <article class="post featured">
            <header class="major">
                <h2><a href="#">Welcome</a></h2>
                <p>Research and Curiosities</p>
            </header>
            <a href="#" class="image main"><img src="assets/images/welcome.jpg" alt=""></a>


        </article>-->

        {{ content }}



    </div>
    <!-- Footer -->
    {% include footer.html %}

</div>



<script async src="https://www.googletagmanager.com/gtag/js?id=default"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'default');
</script>


</body>
</html>
